<html>
 <head>
   <title> {{ ansible_hostname }} Server </title>
 </head>
 <body>
   <h1> Este es el servidor {{ ansible_hostname }} </h1>
   <p> Distribucion {{ ansible_distribution }} {{ ansible_distribution_release }} {{ ansible_distribution_version }}</p>
 </body>
</html>
   
